#cloud-config

ssh_pwauth: True
ssh_keys:
    rsa_private: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
        NhAAAAAwEAAQAAAYEA1Ngx0r8gIzJwnR1AX8x7DFfIJ+RuUI/Pgo6KNgnYfTidCkocZCQt
        oPxEvM4ea6xBE+AqoWWwcPREtnNZIOHA0s0txcIuFB1hdUkXYfGqhU71A+kfCsCVSUfjZH
        Yr0KiP3O86KbOS5ELt1ugYXgLN4Hq4JRK4DzmDox937G1eVRTJJwqqmRzCeRJEzOWVpWd2
        RqiodOnHxkDEjg3Kqol+hGV4xgu/Ut2tsuGWflHC6ukgn/B7ac20zcTMYlOmbbHmYIUYA8
        IvbGaq0sKHLWkAe91kZ6XfNwBKEV7Fa0Puf2hI/TyG0UUn+1ISiv5gbO89hLH/JknbVF7K
        xB85DAqNUVp3liVqstpCHeFpkztEWO4XcILteJ3ZlaWyQtSeSmMNlpie+pOeU/exwk5mOZ
        WvdMCfJv5VD/1qL0eR+cqF1Wkp7hgEYvzEJdlTSNJtkDinJ2qunVJBeDXdoB13m6pSDq9X
        V4obucnHoOnGyjJaPHf7ZaS3JwR7sYxwM/+41ySTAAAFkJ40tuSeNLbkAAAAB3NzaC1yc2
        EAAAGBANTYMdK/ICMycJ0dQF/MewxXyCfkblCPz4KOijYJ2H04nQpKHGQkLaD8RLzOHmus
        QRPgKqFlsHD0RLZzWSDhwNLNLcXCLhQdYXVJF2HxqoVO9QPpHwrAlUlH42R2K9Coj9zvOi
        mzkuRC7dboGF4CzeB6uCUSuA85g6Mfd+xtXlUUyScKqpkcwnkSRMzllaVndkaoqHTpx8ZA
        xI4NyqqJfoRleMYLv1LdrbLhln5RwurpIJ/we2nNtM3EzGJTpm2x5mCFGAPCL2xmqtLChy
        1pAHvdZGel3zcAShFexWtD7n9oSP08htFFJ/tSEor+YGzvPYSx/yZJ21ReysQfOQwKjVFa
        d5YlarLaQh3haZM7RFjuF3CC7Xid2ZWlskLUnkpjDZaYnvqTnlP3scJOZjmVr3TAnyb+VQ
        /9ai9HkfnKhdVpKe4YBGL8xCXZU0jSbZA4pydqrp1SQXg13aAdd5uqUg6vV1eKG7nJx6Dp
        xsoyWjx3+2WktycEe7GMcDP/uNckkwAAAAMBAAEAAAGBAKBMywlb5IpdnK7Xrvn3eNzM5/
        QTeHm4NaKwU6trMt7sWmm7czKAhNTv6Z0A56xUKRcdBz5S5dXMQkvfB8tZ+u1IliaQnj+L
        +TBqAfBEIBcSZjmxwy1H6actOzcYQNt/eAn/KiDqG8FKHvJyDpgPKJreEf3p4TGmMVwTgT
        BRFnChnPWIdP+nx1eDyMlAR7ow98UzlNuojkrj0KTkAjT6JIz2F0Wg51Ezn3RPrhYo4dIm
        DeonJeuDf55Rj1Smh3uqNOXl1KdUVSfVWdycc1xEjQnZpBKu6iGinxFYOsJRunf+SfQ0VV
        v8+3N20ZEqre16aJjPo+a8LKdOt7t2oZCO4amuL04pN8m/QF7hJqCY/YIbOD7Gpv2ct6J2
        Q1sYhRFC5H7zktmfu0vSB38fm4o2RXLNcRj+QyDEG22Fb9VbAKvNaqgQXW//dBRqighTht
        z2tQgAmRWYarTDZLUo1fAx9q2pA2irVOwDBqkhdrsD8oiw23Nqxo/5pP3+yYK3zQ4iAQAA
        AMEA3db8p2t+0So1ck6MA5WDcksCcnmYpaKrRJHesB0BOAKGxzoDjIMrx+S63VFyvzZJo1
        K0CWPSilzuI5xfB+NhP/6dDZqbTzpuZ7ZvlizLrktbd0Jfst+U46+JFlvtR6F3I797dO52
        WqadsqrRK1VT+DRqwxVsD8nBA9rxDZiDxulM6z9m/yRWAqcNW2T4DTkMhWON0W7irdTfzF
        E3pM++brp8hdd4VZTMyeRx6Ea9ZjV6SdJRHGusbKZ+MSk+dJFkAAAAwQDtvc2wj2oRw97Q
        KIoNGKjlM3MFIyEbXyWMnop2xUSFAYhXJsrfmtb8r+1EZEOtEDj0UZiHFl1U7UEW/ClY3m
        d+qmC2L0Cy74W9VtmJD01yT8oR9opHDq6IDGyXSDCA4l+/EuSzu75Vx7g2C/AzFKaMuyo4
        3u8Dw77rLUvZt1gLNkmzf5VNLBGs9XU1i94WRlpZ+XrPRDKchTkFfXc/hSS9waNeolfIYl
        CCTp5BT208NOBBm3t4Zz9fI3DEtGXc54EAAADBAOUw5Z20LzDcRr73eN1DEWwUD6GgX+VP
        wD24C5k9QcU+xkdi9FdktxXWOVu9xQhwtXuZC5Bl8K+/4ZFDJpENfmriVPzby7El3MhD6d
        TVs1BWkd0QyB+VgpYcRrCkdnMqsmrSQxfJlhi8Y84NERheHtG+1iqMwI8ToSdyiEqxq7Sx
        1LzzNlozeGS2Bqk+Ps/Wt7xunSIfMWe3mywB9ctwkJmS1rQQo01M8ASuzk5jc7Q4LAQ7Dk
        EFNiQwN65GAPz2EwAAABVyb290QGs4cy1jb250cm9scGxhbmUBAgME
        -----END OPENSSH PRIVATE KEY-----
    rsa_public: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDU2DHSvyAjMnCdHUBfzHsMV8gn5G5Qj8+Cjoo2Cdh9OJ0KShxkJC2g/ES8zh5rrEET4CqhZbBw9ES2c1kg4cDSzS3Fwi4UHWF1SRdh8aqFTvUD6R8KwJVJR+NkdivQqI/c7zops5LkQu3W6BheAs3gerglErgPOYOjH3fsbV5VFMknCqqZHMJ5EkTM5ZWlZ3ZGqKh06cfGQMSODcqqiX6EZXjGC79S3a2y4ZZ+UcLq6SCf8HtpzbTNxMxiU6ZtseZghRgDwi9sZqrSwoctaQB73WRnpd83AEoRXsVrQ+5/aEj9PIbRRSf7UhKK/mBs7z2Esf8mSdtUXsrEHzkMCo1RWneWJWqy2kId4WmTO0RY7hdwgu14ndmVpbJC1J5KYw2WmJ76k55T97HCTmY5la90wJ8m/lUP/WovR5H5yoXVaSnuGARi/MQl2VNI0m2QOKcnaq6dUkF4Nd2gHXebqlIOr1dXihu5yceg6cbKMlo8d/tlpLcnBHuxjHAz/7jXJJM= root@k8s-controlplane
ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDU2DHSvyAjMnCdHUBfzHsMV8gn5G5Qj8+Cjoo2Cdh9OJ0KShxkJC2g/ES8zh5rrEET4CqhZbBw9ES2c1kg4cDSzS3Fwi4UHWF1SRdh8aqFTvUD6R8KwJVJR+NkdivQqI/c7zops5LkQu3W6BheAs3gerglErgPOYOjH3fsbV5VFMknCqqZHMJ5EkTM5ZWlZ3ZGqKh06cfGQMSODcqqiX6EZXjGC79S3a2y4ZZ+UcLq6SCf8HtpzbTNxMxiU6ZtseZghRgDwi9sZqrSwoctaQB73WRnpd83AEoRXsVrQ+5/aEj9PIbRRSf7UhKK/mBs7z2Esf8mSdtUXsrEHzkMCo1RWneWJWqy2kId4WmTO0RY7hdwgu14ndmVpbJC1J5KYw2WmJ76k55T97HCTmY5la90wJ8m/lUP/WovR5H5yoXVaSnuGARi/MQl2VNI0m2QOKcnaq6dUkF4Nd2gHXebqlIOr1dXihu5yceg6cbKMlo8d/tlpLcnBHuxjHAz/7jXJJM= root@k8s-controlplane
allow_public_ssh_keys: true
chpasswd:
    list: |
        root:k8scontroller
        ubuntu:k8scontroller
    expire: False
hostname: k8s-controlplane.local
growpart:
    mode: auto
    devices: ['/']
runcmd:
    - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin yes/' /etc/ssh/sshd_config
    - curl https://gist.githubusercontent.com/salimwp/44c49794c96d5ba95c58fcbe8357177a/raw/3d70938a042136de997db0689c9be961cb50ab1a/k8s-init.sh | sh -
    - curl https://gist.githubusercontent.com/salimwp/bed6a2ac0f41ebf50da47b08a9b0abf2/raw/d876769ab0d13e3b81c100d7334dfcc9225b5158/controller-init.sh | sh -