#cloud-config

ssh_pwauth: True
ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDU2DHSvyAjMnCdHUBfzHsMV8gn5G5Qj8+Cjoo2Cdh9OJ0KShxkJC2g/ES8zh5rrEET4CqhZbBw9ES2c1kg4cDSzS3Fwi4UHWF1SRdh8aqFTvUD6R8KwJVJR+NkdivQqI/c7zops5LkQu3W6BheAs3gerglErgPOYOjH3fsbV5VFMknCqqZHMJ5EkTM5ZWlZ3ZGqKh06cfGQMSODcqqiX6EZXjGC79S3a2y4ZZ+UcLq6SCf8HtpzbTNxMxiU6ZtseZghRgDwi9sZqrSwoctaQB73WRnpd83AEoRXsVrQ+5/aEj9PIbRRSf7UhKK/mBs7z2Esf8mSdtUXsrEHzkMCo1RWneWJWqy2kId4WmTO0RY7hdwgu14ndmVpbJC1J5KYw2WmJ76k55T97HCTmY5la90wJ8m/lUP/WovR5H5yoXVaSnuGARi/MQl2VNI0m2QOKcnaq6dUkF4Nd2gHXebqlIOr1dXihu5yceg6cbKMlo8d/tlpLcnBHuxjHAz/7jXJJM= root@k8s-controlplane
allow_public_ssh_keys: true
chpasswd:
    list: |
        root:k8sworker
    expire: False
hostname: k8s-worker2.local
growpart:
    mode: auto
    devices: ['/']
runcmd:
    - curl https://gist.githubusercontent.com/salimwp/44c49794c96d5ba95c58fcbe8357177a/raw/3d70938a042136de997db0689c9be961cb50ab1a/k8s-init.sh | sh -
    - curl https://gist.githubusercontent.com/salimwp/060e985ccacce7a7038f626afa2fd63c/raw/4a909349657c4f2196ff0b1bf24572a1bbfe6f30/worker-init.sh | sh -