#cloud-config

ssh_pwauth: True
chpasswd:
    list: |
        root:k8scontroller
        ubuntu:k8scontroller
    expire: False
hostname: k8s-controlplane.local
growpart:
    mode: auto
    devices: ['/']
bootcmd:
    - echo 10.17.3.2 k8s-controlplane >> /etc/hosts
    - echo 10.17.3.10 k8s-worker1  >> /etc/hosts
    - echo 10.17.3.11 k8s-worker2  >> /etc/hosts
runcmd:
    - curl https://gist.githubusercontent.com/salimwp/44c49794c96d5ba95c58fcbe8357177a/raw/3d70938a042136de997db0689c9be961cb50ab1a/k8s-init.sh | sh -
    - curl https://gist.githubusercontent.com/salimwp/bed6a2ac0f41ebf50da47b08a9b0abf2/raw/d876769ab0d13e3b81c100d7334dfcc9225b5158/controller-init.sh | sh -