#cloud-config

ssh_pwauth: True
chpasswd:
    list: |
        root:k8scontroller
        ubuntu:k8scontroller
    expire: False
hostname: k8s-controlplane.local
growpart:
    mode: auto
    devices: ['/']
runcmd:
    - curl https://raw.githubusercontent.com/salimwp/k8s-bootstrap/main/init.sh | sh -
    - curl https://raw.githubusercontent.com/salimwp/k8s-bootstrap/main/controller-init.sh | sh -